{% if items %}
  <div class="related-content-block">
    <h2>Related Content</h2>
    <ul>
      {% for item in items %}
        <li>{{ item.title }}</li>
      {% endfor %}
    </ul>
  </div>
{% endif %}